NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=
NEXT_PUBLIC_TELEGRAM_BOT_ID=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=yupay.io
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
